h2 {
    font-size: 30px;
    font-family: monospace;
    
}

.image {
position: center;
}


body {
    padding: 25px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 15px;
    background-image: url(./assets/peakpx.jpg);
  }
  
.light-mode {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}


h1 {
    color: red;
}

p {
    font-size: 20px;
}

.navbar-custom {
    color: white;
    font-size: 1.5em;
}
.navbar-custom:hover {
  background-color: black;
  color: red;

  
}

.title-custom {
    font-size: 20px;

} 

.heading {
    font-size: 15px;
}

